# App
PORT=8864
LOG_LEVEL=info
SERVICE_NAME=hope-nlp
SERVICE_VERSION=1.0.0

# Log file
LOG_FILE_ENABLED=true
LOG_FILE_PATH=./logs
LOG_FILE_MAX_SIZE=10m
LOG_FILE_MAX_FILES=1000
LOG_FILE_SEPARATE_ERROR=false

# Otel
OTEL_SERVICE_NAME=hope-nlp
OTEL_SERVICE_VERSION=1.0.0
OTEL_SERVICE_NAMESPACE=hope
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_JAEGER_ENDPOINT=http://localhost:4317
OTEL_TRACES_ENABLED=true
OTEL_METRICS_ENABLED=true